:root { 
--gray_50_01:#fafcfd; 
--gray_50_02:#f6f6fd; 
--green_A700_01:#00b157; 
--indigo_50_6c:#dad5ff6c; 
--red_400:#db4655; 
--indigo_200_44:#acb2da44; 
--amber_A100:#ffe17d; 
--black_900_87:#00000087; 
--teal_500:#13ab6b; 
--black_900_00:#00000000; 
--light_green_600:#84b740; 
--orange_300_19:#ecc24c19; 
--black_900_07:#00000007; 
--blue_gray_900_01:#27292d; 
--blue_gray_900:#292d32; 
--red_400_0c:#ec47470c; 
--teal_A700:#06d6a0; 
--orange_200_01:#ffc866; 
--gray_400:#c8c5c9; 
--blue_gray_100:#dad8db; 
--teal_500_0c:#13ab6b0c; 
--amber_500:#ffc107; 
--blue_gray_500:#49699c; 
--light_green_600_0c:#969d460c; 
--pink_400_75:#dd3f6175; 
--amber_100:#fff2bb; 
--yellow_700_01:#ffbb26; 
--orange_200:#ffc269; 
--orange_300_04:#ffb04c; 
--indigo_200:#a1a6c4; 
--black_900_11:#00000011; 
--orange_300_03:#ecc24c; 
--blue_100:#c3ddff; 
--gray_700_01:#5e5e5e; 
--blue_gray_50:#eaeff0; 
--red_700:#d22f2f; 
--blue_gray_100_00:#d9d9d900; 
--red_300:#e5646e; 
--gray_50:#fbfafc; 
--blue_gray_800_02:#3e495c; 
--yellow_500:#feea3b; 
--yellow_900:#fd7d21; 
--red_A400:#ef233c; 
--pink_400:#dd3f61; 
--red_300_02:#ca8168; 
--pink_700_19:#c11d4119; 
--gray_500:#9e9898; 
--pink_400_19:#dd3f6119; 
--blue_gray_600:#5c6678; 
--gray_900:#161616; 
--red_300_01:#e6646e; 
--teal_50:#d9e7ec; 
--blue_gray_800_01:#2d4a60; 
--gray_100:#f8f7f7; 
--indigo_300:#8289b9; 
--deep_orange_A400_01:#ff4b00; 
--yellow_900_01:#ff7816; 
--black_900_75:#00000075; 
--indigo_100_6c:#bdc1df6c; 
--blue_gray_800_1e:#2f48581e; 
--green_A700:#00cf66; 
--amber_A100_01:#ffdb6c; 
--amber_A100_02:#ffeb8a; 
--deep_orange_300:#ff8b5a; 
--purple_900:#502c84; 
--gray_200_01:#efefef; 
--white_A700_19:#ffffff19; 
--gray_200_02:#eeeeee; 
--gray_200_03:#eaeaea; 
--gray_200_04:#ebebeb; 
--gray_200_19:#f0f0f019; 
--blue_gray_300:#8f98c5; 
--red_A200:#ff445b; 
--amber_700:#ff9f00; 
--amber_300:#ffd164; 
--yellow_A700:#ffd400; 
--gray_200:#eceaec; 
--gray_600_26:#7f7d7d26; 
--blue_50:#dbeaff; 
--lime_100:#f9eac7; 
--indigo_300_a2:#8289b9a2; 
--gray_400_01:#b5b5b5; 
--gray_400_02:#bcbcbc; 
--red_500_02:#f04930; 
--white_A700:#ffffff; 
--red_500_01:#f34336; 
--gray_600_11:#7e7f8911; 
--blue_gray_900_19:#2a324019; 
--gray_900_75:#16161675; 
--green_500_19:#43be5719; 
--red_500:#fd3730; 
--red_400_01:#eb4646; 
--orange_300_02:#d8b250; 
--orange_300_01:#ffc350; 
--amber_A400:#fdcb02; 
--light_blue_800:#0d70a7; 
--teal_500_19:#13ab6b19; 
--black_900:#000000; 
--yellow_700:#ffb62d; 
--amber_A400_01:#fac100; 
--amber_A400_02:#fdbf00; 
--amber_A400_03:#f6c100; 
--blue_gray_800:#2f4858; 
--blue_50_01:#eceeff; 
--deep_orange_A400:#ed3800; 
--blue_gray_50_01:#f1f2f2; 
--gray_700:#5d5360; 
--blue_gray_50_02:#ededf5; 
--white_A700_6c:#ffffff6c; 
--blue_gray_400:#818b9d; 
--gray_900_87:#16161687; 
--orange_A700:#ff6200; 
--red_A100:#ff8087; 
--amber_600:#f2b10c; 
--white_A700_a2:#ffffffa2; 
--deep_orange_300_01:#f7a05e; 
--blue_600:#259bd6; 
--gray_900_01:#151515; 
--light_green_600_01:#969d46; 
--teal_500_01:#02aa7c; 
--indigo_200_99:#a5aad199; 
--gray_300:#d9e1e2; 
--orange_300:#ffa95f; 
--gray_300_01:#dfd7d5; 
--orange_50:#fff6d8; 
--indigo_100:#bdc1df; 
--red_A400_0c:#ef233c0c; 
--light_blue_800_0c:#0e70a80c; 
}